@font-face {
    font-family: garamond;
    src: url(ebgaramond.ttf);
  }

  @font-face {
    font-family: italic;
    src: url(italicsgaramond.ttf);
    font-style: italic;
  }


*:not(html) {
    -webkit-transform: translate3d(0, 0, 0);
}

html, body {
    background-color: black !important;
    height: 100%;
    overflow: hidden;
    font-size: 22px;
    font-family: "garamond" !important;
}



#name{
    font-size: 20px;
    font-style: italic !important;
}

.underline{
    text-decoration: underline;
}

#about{
    line-height: 1.4em !important;
    font-size: 10pt;
}

#work{
    line-height: 1.4em !important;
    font-size: 10pt;
}

#about-text{
    height: 300px;
    font-size: 10pt !important;
}

#work-text{
    font-size: 10pt;
}

#email{
    text-decoration: underline !important;
}

ol.carousel-indicators li{
    background-color: transparent;

}


/* individual indicators */
ol.carousel-indicators li,
ol.carousel-indicators li.active {
  width: .3em;
  height: .3em;
  margin: .2em;
  border-radius: 100px;
  border-style: solid;
  border-width: 1px;
}

ol.carousel-indicators{
    vertical-align: middle;
    position: static !important;
    height: 100% !important;

}

.nav{
    display: inline;
    justify-content: center;
    margin-top: 1em;

}

.next_button, .prev_button{
    padding: 0 !important;
}

ol.carousel-indicators li.active {
    opacity: 100%;
    /* background-color: black; */
}


.carousel-indicators {
margin: .7em .6em 0 .6em !important;    

}


a{
    color: inherit !important;
    transition: 0.1s;

}

a:hover{
    opacity: 50%;
}


#about{
    margin-top: 2em;

}

#backgroundCarousel{
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, -50%);
    /* z-index: 0; */
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    cursor:pointer;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    line-height: 1.3em;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out !important;
  }


#bio{
    position: absolute;
    color: white;
    opacity: .99 !important;
    line-height: 2em;
    position: absolute;
    /* z-index: 3; */
    top: 35%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 22%;
    min-width: 300px;
    text-align: center;
}


.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	        backface-visibility: visible;
}

.hidden{
    display: none;
}

#footer{
    position: absolute;
    display: flex;
    width: 100%;
    /* z-index: 1; */
    height: 100vh;
}

#container{
    background-color: black !important;
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
}



#arrow_container{
    display: flex;
    justify-content: space-between;
    width: 8%;
    margin-top: .6em;
    padding-right: 2em;
    float: right;
}


.prev_button:hover{
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
}

.prev_button:active, .next_button:active{
    font-size: 22px;
}


.next_button:hover{
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;

}

@media only screen and (max-width: 700px){

    #bio{

        left: 50%;
        top: 40% !important;
        min-width:350px!important;
        line-height: 1.6em;
    }


    .carousel-indicators {
        margin: .5em .8em 0 .8em !important;    
        }


    #bio{
        line-height: 1.6em;
    }

    #about-text{
        height: 60px;
    }

    #work-text{
        -webkit-hyphens: auto !important;
        hyphens: auto;
        height: 90px;
    }



}


@media only screen and (max-width:480px){

    .carousel-indicators {
        margin: .5em .8em 0 .8em !important;    
        }

    a:hover{
        text-decoration: none !important;
        opacity: 100%;
    }

    .prev_button:hover, .next_button:hover{
        font-size: 22px;
    }

    .prev_button:active, .next_button:active{
        font-size: 32px;
    }


    html{
        margin: 0;
        padding: 0;


    }


    .body{
        overflow: scroll;
        font-size: 20px !important;
        /* transform:  rotate(90deg) translateY(-100%)!important;
        transform-origin: top left!important; */
        /* height: auto;
        width: 100vh; */
    }
    


    #backgroundCarousel{
        transform:  rotate(90deg) translate(-50%, -50%)!important;
        transform-origin: top left!important;
        height: 100vw !important;
        width: 100vh !important;

    }


    .carousel-inner, .carousel-item, img{
        height: 100vw !important;
        width: 100vh !important;
      
    }

    #bio{
        transform:  rotate(90deg) translate(-50%, -50%)!important;
        transform-origin: top left!important;
        left: 45%;
        top: 45% !important;
        min-width:350px!important;
        line-height: 1.6em;
    }

    #about-text{
        height: 60px;
    }

    #work-text{
        -webkit-hyphens: auto !important;
        hyphens: auto;
        height: 90px;
    }

}


@media only screen and (max-width: 480px) and (orientation: landscape){

    #backgroundCarousel{
        transform:  rotate(0deg) translate(-50%, -50%)!important;
        transform-origin: top left!important;
        height: 100vh !important;
        width: 100vw !important;

    }

    .carousel-inner, .carousel-item, img{
        height: 100vh !important;
        width: 100vw !important;
    }

    #bio{
        transform:  rotate(0deg) translate(-50%, -50%)!important;
        transform-origin: top left!important;
        left: 50%;
        top: 55% !important;
        min-width:350px!important;
        line-height: 1.6em;
    }



}


